<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% block head %}
      <title>{% block title %}{% endblock %}</title>
    {% endblock head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/materialize.css') }}">
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

  </head>
  <body>
      <!-- Colocar aqui um menu "universal" para todas as páginas -->
      <nav class="#33691e light-green darken-4">
        <div class="nav-wrapper row">
          <a href="{{ url_for('index') }}" class="brand-logo">QuestionUp</a>
          <a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a class="center-align teal-text text-darken-4" href="{{ url_for('ranking') }}">
              {% if current_user.nome %}
                Seu recorde é {{ current_user.recorde }}
                {% if current_user.nome == usuarios[0].nome %}
                  <img src="/static/img/crown.svg" id="crown">
                {% endif %}
              {% endif %}</a></li>
              <li class="active"><a href="{{ url_for('index') }}">Inicio</a></li>
              <li><a class="dropdown-button" href="" data-activates="quizdropdown2">Questões<i class="material-icons right">arrow_drop_down</i></a></li>
              <li><a href="{{ url_for('enviar') }}">Adicionar Questões</a></li>
              <li><a href="{{ url_for('ranking') }}">Ranking</a></li>
              {% if current_user.nome %}
                <li><a href="{{ url_for('sair') }}">Sair</a></li>
              {% else %}
                <li><a href="{{ url_for('entrar') }}">Entrar</a></li>
                <li><a href="{{ url_for('registrar') }}">Registrar</a></li>
              {% endif %}
          </ul>
          <ul id="mobile-demo" class="side-nav">
            <li><a class="center-align teal-text text-darken-4" href="{{ url_for('ranking') }}">
              {% if current_user.nome %}
                Seu recorede é {{ current_user.recorde }}
                {% if current_user.nome == usuarios[0].nome %}
                  <img src="/static/img/crown.svg" id="crown">
                {% endif %}
              {% endif %}
            </a></li>
            <li class="active"><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a class="dropdown-button" href="" data-activates="quizdropdown">Questões<i class="material-icons right">arrow_drop_down</i></a></li>
            <li><a href="{{ url_for('enviar') }}">Adicionar Questões</a></li>
            <li><a href="{{ url_for('ranking') }}">Ranking</a></li>
            {% if current_user.nome %}
              <li><a href="{{ url_for('sair') }}">Sair</a></li>
            {% else %}
              <li><a href="{{ url_for('entrar') }}">Entrar</a></li>
              <li><a href="{{ url_for('registrar') }}">Registrar</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <!-- Template Filho (que será expandido) -->
      {% block content %}{% endblock %}
      <br>

      <!-- Erros -->
      {% if error %}
        <p class="erro"><strong>Erro:</strong>{{ erro }}</p>
      {% endif %}

      <!-- Mensagens mostradas -->
      {% for mensagem in get_flashed_messages() %}
        <ul><li>{{ mensagem }}</li></ul>
      {% endfor %}

    </div>
  </body>
</html>
