{% extends "base.html.j2" %}
{% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='jquery.min.js') }}">\x3C/script>')</script>

  <!-- Materialize, note: the js has to be loaded AFTER Jquery -->
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type='text/JavaScript'>
  $(document).ready(function() {
    $('select').material_select();
    $(".button-collapse").sideNav();
  });
  </script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base.css') }}">

  <title>Enviar</title>
{% endblock head %}
{% block content %}
  <h5 class="center-align">Envie sua questão para ser adicionado em nosso banco de dados</h5>
  <br>
  <form action="" method="POST">
    {{ form.csrf_token }}
    <div class="input-field">
      {{ form.questao(placeholder="Questão") }}
      <label for="questao">Questão:</label>
      <span class="error">
        {% if form.questao.errors %}
          {% for erro in form.questao.errors %}
            {{ erro }}
          {% endfor %}
        {% endif %}
      </span>
    </div>
    <div class="row">
      <div class="input-field col s6">
        {{ form.opcao1(placeholder="Opção A") }}
        <label for="opcao1">A:</label>
        <span class="error">
          {% if form.opcao1.errors %}
            {% for erro in form.opcao1.errors %}
              {{ erro }}
            {% endfor %}
          {% endif %}
        </span>
      </div>
      <div class="input-field col s6">
        {{ form.opcao2(placeholder="Opção B") }}
        <label for="opcao2">B:</label>
        <span class="error">
          {% if form.opcao2.errors %}
            {% for erro in form.opcao2.errors %}
              {{ erro }}
            {% endfor %}
          {% endif %}
        </span>
      </div>
      <div class="input-field col s6">
        {{ form.opcao3(placeholder="Opção C") }}
        <label for="opcao3">C:</label>
        <span class="error">
          {% if form.opcao3.errors %}
            {% for erro in form.opcao3.errors %}
              {{ erro }}
            {% endfor %}
          {% endif %}
        </span>
      </div>
      <div class="input-field col s6">
        {{ form.opcao4(placeholder="Opção D") }}
        <label for="opcao4">D:</label>
        <span class="error">
          {% if form.opcao4.errors %}
            {% for erro in form.opcao4.errors %}
              {{ erro }}
            {% endfor %}
          {% endif %}
        </span>
      </div>
    </div>
    
    <div class="input-field">
      {{ form.resposta(placeholder="Resposta") }}
      <label for="resposta">Resposta Correta:</label>
      <span class="error">
        {% if form.resposta.errors %}
          {% for erro in form.resposta.errors %}
            {{ erro }}
          {% endfor %}
        {% endif %}
      </span>      
    </div>

    <div class="input-field">
      {{ form.categoria(placeholder="Categoria") }}
      <label for="categoria">Categoria:</label>
      <span class="error">
        {% if form.categoria.errors %}
          {% for erro in form.categoria.errors %}
            {{ erro}}
          {% endfor %}
        {% endif %}
      </span>
    </div>

    <div class="valign-wrapper">
      <button class="valign btn-large waves-effect waves-light" type="submit">Add questão</button>
    </div>

  </form>
{% endblock content %}
