{% extends "base.html.j2" %}
{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <title>Jogo</title>
{% endblock head %}
{% block content %}
  <h5 class="center-align">Responda as Questões</h5>
  <h6>Escolha uma resposta e clique em enviar</h6>
  <br>
  <form action="" method="post">
    {{ form.csrf_token }}
    {% for questoes_disponiveis in questoes_disponiveis %}
      <div class="{{ questoes_disponiveis.id_questao }}">
        <div class="row">
          <div class="col s12">
            {{ questoes_disponiveis.questao }}
          </div>
        </div>
        <div class="row">
          <div class="col s6">
            A: {{ questoes_disponiveis.opcao1 }}
          </div>
          <div class="col s6">
            B: {{ questoes_disponiveis.opcao2 }}
        </div>
        <div class="row">
          <div class="col s6">
            C: {{ questoes_disponiveis.opcao3 }}
          </div>
        <div class="col s6">
          D: {{ questoes_disponiveis.opcao4 }}
        </div>
        </div>
        <div class="row">
          <div class="input-field col s6">
            {{ form.ja_respondido(class=questoes_disponiveis.id_criador) }}
            <label for="ja_respondido">Selecione por uma opção:</label>
          </div>
        </div>
        <button type="submit" name="btn waves-effect" id="">Confirmar valor</button>
        </div>
      </div>
    {% endfor %}
  </form>
{% endblock content %}
